<a href="https://colab.research.google.com/github/AnitaAmmann/Python/blob/main/VL1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
2+2

4

In [ ]:
print(2+2)

4

In [ ]:
print('Hello World!')

Hello World!

In [ ]:
'Hello World!'

'Hello World!'

# Das ist eine Überschrift

## Das ist eine Unterüberschrift

Hier ist *kursiver* und **fetter** Text.

1. Aufzählung
2. Zweiter Punkt

In [1]:
x=1
print (x)

1

In [2]:
message='hello'

In [3]:
if x ==1:
    print ('x is equal to 1')

x is equal to 1

In [5]:
abs (-2) #Absolutbetrag

2

In [7]:
#um kinen Fehler zu bekommen:

%%script false -- no-raise-error 
abs()

In [8]:
abs?

In [9]:
message?

In [10]:
help(abs)

Help on built-in function abs in module builtins:

abs(x, /)
    Return the absolute value of the argument.

In [11]:
x= "Karl's tea is so tasty."
y= 'Karl said: "blabla"'

In [13]:
from plotnine.data import mtcars #modul data ist in papckacke plotnine, mtcars ist dataframe aus data; dataframe ist ein Objekt
import pandas as pd #pandas ist oberstes package der pandas bibliothek, wird mit pd angesprochen dann 

mtcars.head() #head ist Methode von einem Objekt (mtcars ist Objekt)

#Zeile= Objekte/ item/ observation
# Spalten= Feature/ Variable

,name,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
0,Mazda RX4,21.0,6,160.0,110,3.90,2.620,16.46,0,1,4,4
1,Mazda RX4 Wag,21.0,6,160.0,110,3.90,2.875,17.02,0,1,4,4
2,Datsun 710,22.8,4,108.0,93,3.85,2.320,18.61,1,1,4,1
3,Hornet 4 Drive,21.4,6,258.0,110,3.08,3.215,19.44,1,0,3,1
4,Hornet Sportabout,18.7,8,360.0,175,3.15,3.440,17.02,0,0,3,2

In [14]:
mtcars.describe()

,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
count,32.000000,32.000000,32.000000,32.000000,32.000000,32.000000,32.000000,32.000000,32.000000,32.000000,32.0000
mean,20.090625,6.187500,230.721875,146.687500,3.596563,3.217250,17.848750,0.437500,0.406250,3.687500,2.8125
std,6.026948,1.785922,123.938694,68.562868,0.534679,0.978457,1.786943,0.504016,0.498991,0.737804,1.6152
min,10.400000,4.000000,71.100000,52.000000,2.760000,1.513000,14.500000,0.000000,0.000000,3.000000,1.0000
25%,15.425000,4.000000,120.825000,96.500000,3.080000,2.581250,16.892500,0.000000,0.000000,3.000000,2.0000
50%,19.200000,6.000000,196.300000,123.000000,3.695000,3.325000,17.710000,0.000000,0.000000,4.000000,2.0000
75%,22.800000,8.000000,326.000000,180.000000,3.920000,3.610000,18.900000,1.000000,1.000000,4.000000,4.0000
max,33.900000,8.000000,472.000000,335.000000,4.930000,5.424000,22.900000,1.000000,1.000000,5.000000,8.0000

In [15]:
mtcars.dtypes

name     object
mpg     float64
cyl       int64
disp    float64
hp        int64
drat    float64
wt      float64
qsec    float64
vs        int64
am        int64
gear      int64
carb      int64
dtype: object

In [ ]:
km_per_liter =mtcars.mpg * (1.6093/3.785441)
liter_per_km=1./km_per_liter
liter_per_100km=liter_per_km